.link{
  display: block;
  width: 76px;
  height: 90px;
  margin: 10px;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  button{
    background-color: transparent;
    cursor: default;
    display: block;
    width: 100%;
    padding: 5px 5px 0 5px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 3px;
    &.current{
      position: relative;
      height: auto;
      outline: none !important;
      background: linear-gradient(215deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5)) !important;
    }
    &:focus{
      text-align: center;
      white-space: inherit;
      text-overflow: inherit;
      background: linear-gradient(215deg, rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.35));
      border: 1px solid rgba(255, 255, 255, 0.1);
      overflow: inherit;
    }
    &:hover{
      background: linear-gradient(215deg, rgba(255, 255, 255, 0.50), rgba(255, 255, 255, 0.35));
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
    >div {
      background: center top no-repeat;
      background-size: auto 100%;
      width: 100%;
      height: 50px;
      font-size: 50px;
      text-align: center;
      line-height: 50px;
      color: snow;
      &:active:before{
        color: inherit;
      }
    }
    >p {
      text-align: center;
      display: block;
      width: 100%;
      font-family: '雅黑';
      color: #EEEEEE;
      line-height: 1.6;
      font-size: 12px;
      margin: 5px 0 0 0;
      text-shadow: 1px 1px 1px #000000;
      word-break: break-all;
    }
  }

}