
.my_win {
  position: fixed;
  z-index: 8;
}
.win-mask{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: all;
}
.win-cell{
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px #000000;
  border: 1px solid white;
  border-radius: 3px;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  animation: windowShow .2s;
}
.my_win.current .win-head:before{
  //background-color: #A8C7F0;
}
.my_win .win-head {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
.my_win .win-head:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}


.my_win .win-head > span {
  background-position: left center;
  background-size: auto 80%;
  background-repeat: no-repeat;
  float: left;
  display: block;
  height: 30px;
  margin-left: 10px;
  padding-left: 30px;
  color: #000;
  font-size: 14px;
  text-shadow: 0px 0px 5px #fff;
}

.win-btn {
  position: absolute;
  top: 7px;
  right: 0;
}

.win-btn > span {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #666666;
  margin: 0 5px;
  opacity: 0.3;
  transition: 0.1s;
}

.win-btn > span:hover {
  opacity: 1;
}

.win-body {
  background: #fff;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  box-sizing: border-box;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 16px;
}
.win-body> p{
  padding: 0 10px;
  margin: 10px 0;
}
.max {
  width: 100% !important;
  height: 100% !important;
  //transform: translate(-1px,-1px) !important;
  left: -1px !important;
  top: -1px !important;
}

@keyframes windowShow {
  from{
    opacity: .3;
    transform: scale(.3);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}