
.my_win {
  display: block;
  width: 600px;
  background: #f0f0f0;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  box-shadow: 1px 1px 5px #000000;
  border: 1px solid white;
  border-radius: 3px;
}

.my_win .win-head {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  background: #D8D8D8;
}

.my_win .win-head > span {

  background-size: auto 100%;
  background-repeat: no-repeat;
  float: left;
  display: block;
  height: 30px;
  margin-left: 10px;
  padding-left: 30px;
  color: #000;
  font-size: 14px;
  text-shadow: 0px 0px 5px #fff;
}

.win-btn {
  position: absolute;
  top: 7px;
  right: 0;
}

.win-btn > span {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #666666;
  margin: 0 5px;
  opacity: 0.3;
  transition: 0.1s;
}

.win-btn > span:hover {
  opacity: 1;
}

.win-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 30px 10px 0px 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: auto;
  margin: 1px 2px 2px 2px;
}

.win-down {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 40px;
  border-top: 1px solid #000000;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.win-down .win-down-bg {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);

  padding: 20px;
  margin: -20px;
}


.max {
  width: 100% !important;
  height: 100% !important;
  transform: translate(-1px,-1px) !important;
}

.premax {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .4) no-repeat content-box;
  background-size: 100% 100%;
}